<!DOCTYPE html>
<html lang="en" ng-app='appListToDo'>
<head>

  <meta charset="UTF-8">
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <link rel="stylesheet" href="style.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="listToDoController.js"></script>  
  
</head>
<body>

<div ng-controller="ctrListToDO as testCtrl">

<div class="left-area">

<form ng-submit="testCtrl.addText(testCtrl.nameProject)" class = "project-panel white animationNormal">

<center>
<h3> Click </h3>
<input type="text" ng-model="testCtrl.nameProject">
<md-button ng-disabled = "false" id ="btn1" type = "submit" ng-click="submitProject(); counterUp()" class="md-raised">add</md-button>
</center>
<p>{{item}}</p>
<textarea style="overflow: hidden;" ng-model="testCtrl.textTask" class = "text3"></textarea>
</form>

</div>

</div>

</body>
</html>