@charset "UTF-8";

/* line 130, ../sass/style.scss */
.list-projects {
  position: relative;
  background: #000000;
  top: 20%;
  left: 0%;
  width: 100%;
  height: 80%; }

a{
    text-decoration:none;
}
a:hover{
    color: black;
    background: GreenYellow;
    text-decoration:none;
}
a:visited{
	color:yellow;
} 

div p a:hover{
    text-decoration:none;
}

md-list-item:hover{
    background: GreenYellow;
}
md-list-item a{
    text-decoration:none;
}
md-list-item a:hover{
    text-decoration:none;
}

md-list{
  color: #FFFAFA;
  background: #000000;
  min-height: 100%;
}
/* line 144, ../sass/style.scss */
md-list-item {
  padding: 0% 0% 0% 3%; 
}

/* line 149, ../sass/style.scss */
md-list-item md-button {
  padding: 0% 0% 0% 0%; }

md-list-item, md-list-item .md-list-item-inner {
    min-height: 20px;
    height: 20px;
}

.date {
  position: absolute;
  left: 2.5%;
  top: 15%; }

/* line 217, ../sass/style.scss */
.text3 {
  position: absolute;
  bottom: 30%;
  left: 2.5%;
  width: 95%;
  height: 40%; }

/* line 226, ../sass/style.scss */
.header1 {
  position: absolute;
  top: 0%;
  width: 100%;
  text-align: center;
  font-size: 25px; }

/* line 237, ../sass/style.scss */
.list-tasks {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%; }

/* line 247, ../sass/style.scss */
.version {
  position: absolute;
  color: #FFFAFA;
  font-size: 12px;
  right: 0%;
  top: 0%; 
  z-index: 3;
}

/* line 254, ../sass/style.scss */
.resume {
  color: #FFFAFA;
  position: absolute;
  height: 150%;
  width: 100%;
  font-size: 150%;
  left: 0%;
  top: 0%;
  background: black;
  z-index: 4;
    
}

/* line 261, ../sass/style.scss */
.top-line {
  position:absolute;
  height: 3.2%;
  width: 100%;
  top: 0%;
  left:0%; 
  z-index: 3;
}

.bottom-line {
  position:absolute;
  position:relative;
  visibility: hidden;
  height: 4%;
  bottom: 0%;
  left:0%;
  width: 100%;
}

/* line 340, ../sass/style.scss */
.left-area {
  position: relative;
  max-width: 23%;
  top: 0%;
  left: 0;
  min-height: 100%;
  float: left;
  z-index: 2;
}

/* line 349, ../sass/style.scss */
.right-area {
  position: relative;
  top: 4%;
  min-height: 100%;
  z-index: 1;
}

**********************************/
input{
  text-indent: 1%;
  position: absolute;
  background: black;
  bottom:1%;
  width:70%;
  right: 0%;
  height: 100%;
}

input[type="text"]
{
    font-size:20px;
    color: #FFFAFA;
}

.token{
  position: absolute;
  text-indent: 1%;
  bottom: 1%;
  top:1%;
  left: 0%;
  font-size: 20px;
}

.consol-shown{
  visibility: visible;
}

.consol-hidden{
  visibility: hidden;
}
