.description{
  position: relative;
  text-align: justify;
  font-size: 22px;
  left: 5%;
  right:5%;
  color: #FFFAFA;
  width: 90%;
}

body{
    background: black;
    color: #FFFAFA;
}

md-list
{
  position: absolute;
  top:15%;
  left:0%;
  width: 100%;
  color: #FFFAFA;
  min-height: 100%;
  background: black;
}

.title{
  position: absolute;
  background: black;
  top:0%;
  left: 5%;
  right:5%;
  color: #FFFAFA;
  width: 90%;
}